<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Jednolity System Obsługi Hospitacji Wydziału Informatyki i Zarządzania</title>
    <link rel="stylesheet" href="styles/style.css" type="text/css"/>
</head>
<body>
<div class="container">
    <h1 class="indexHeader">Jednolity System Obsługi Hospitacji Wydziału Informatyki i Zarządzania</h1>
    <form method="post">
        <input class="indexButton" type="submit" name="zatwierdzanie" value="Zatwierdzaj plany hospitacji"/>
        <input class="indexButton" type="submit" name="opracowywanie" value="Opracuj plan hospitacji"/>
    </form>
</div>
</body>
</html>